# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Generated native folders (Expo Prebuild)
ios/
android/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Cache
.cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Certificates & keys
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem